<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <title>{% block title %}Tábor plný překvapení - letní dětský tábor{% endblock %}</title>
    </head>
    <body>
        <h1>Tábor plný překvapení</h1>
        <p><strong>Letní dětský tábor v Jižních Čechách s odjezdem z Prahy.</strong></p>

        <hr>

        {% block content %}{% endblock %}

        <hr>


    </body>
</html>
