{%- import 'macros.html' as macros with context -%}
<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <meta property="og:type" content="website">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="{% block description %}{{ self.subtitle() }}{% endblock %}">
        <meta property="og:description" content="{{ self.description() }}">

        <meta property="og:site_name" content="{% block site_name %}Tábor plný překvapení{% endblock %} · {% block claim %}letní dětský tábor{% endblock %}">
        {% if request.path == url_for('index') %}
            <title>{{ self.site_name() }} · {{ self.claim() }}</title>
        {% else %}
            <title>{{ self.title() }} · {{ self.site_name() }}</title>
        {% endif %}

        <meta property="og:title" content="{% block title %}{{ self.content()|extract_title }}{% endblock %}">
        <meta property="og:image" content="{{ self.content()|extract_image }}">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Domine&amp;subset=latin,latin-ext">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <link rel="shortcut icon" href="{{ url_for('favicon') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('favicon') }}" type="image/x-icon">

        {% if not debug %}
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ ga_code }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = '//connect.facebook.net/en_US/all.js#xfbml=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="container">
            <div class="page-header">
                <h1><a href="{{ url_for('index') }}">{{ self.site_name() }}</a>
                {% block subtitle -%}
                    <small>Letní tábor pro děti od {{ info.junior.age_from }} do {{ info.senior.age_to }} let</small>
                {%- endblock %}
                </h1>

                <div class="fb hidden-xs hidden-sm">
                    <div class="fb-like" data-href="https://www.facebook.com/taborprekvapeni" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                </div>
            </div>
            <nav class="nav nav-top clearfix">
                {% block topnav %}
                    <h2 class="sr-only">Menu</h2>
                    <ul class="nav nav-pills pull-right">
                        {{ macros.menu_item(url_for('index'), 'Ahoj!') }}
                        {{ macros.menu_item(url_for('program'), 'Filozofie a náplň') }}
                        {{ macros.menu_item(url_for('team'), 'Tým vedoucích') }}
                        {{ macros.menu_item(url_for('history'), 'Historie a fotky') }}
                        {{ macros.menu_item(url_for('info'), 'Organizační informace') }}
                        {{ macros.menu_item(url_for('contact'), 'Kontakty') }}
                    </ul>
                {% endblock %}
            </nav>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            <div class="contact">
                {% block contact %}
                    <hr>
                    <h3>Chcete vědět více? Potřebujete poradit?</h3>
                    <p>
                        <a href="{{ url_for('contact') }}" class="btn btn-primary btn-lg" rel="button">
                            <i class="fa fa-phone"></i> Kontaktujte nás
                        </a>
                    </p>
                {% endblock %}
            </div>
            <nav class="nav nav-main">
                <h2 class="sr-only">Menu</h2>
                <ul class="list-inline">
                    {{ macros.menu_item(url_for('index'), 'Ahoj!') }}
                    {{ macros.menu_item(url_for('program'), 'Filozofie a náplň') }}
                    {{ macros.menu_item(url_for('team'), 'Tým vedoucích') }}
                    {{ macros.menu_item(url_for('history'), 'Historie a fotky') }}
                    {{ macros.menu_item(url_for('info'), 'Organizační informace') }}
                    {{ macros.menu_item(url_for('contact'), 'Kontakty') }}
                </ul>
                <hr>
            </nav>
            <footer>
                <p>
                    <small><strong>Tábor plný překvapení</strong> je značka, pod kterou od roku 2004 vystupuje parta vedoucích v čele s <a href="{{ url_for('team', slug='pavel-gal') }}">Pavlem Gálem</a>.
                    Provozovatelem tábora je <a href="http://www.tabory.cz" target="_blank">CK Topinka</a>.</small>
                </p>
            </footer>
        </div>
    </body>
</html>
