{%- import 'macros.html' as macros with context -%}
{% extends 'base.html' %}
{% block contact %}{% endblock %}


{% block description %}Kontakty na hlavního vedoucího a provozovatele tábora.{% endblock %}

{% block title %}Kontakty{% endblock %}

{% block lead %}Chcete vědět více? Potřebujete poradit?{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>Hlavní vedoucí</h2>
        <p>
            {% filter markdown %}[Pavel Gál]({{ url_for('team', slug='pavel-gal') }})<br>
            <small>+420</small> 607 706 867<br>
            {{ 'p.gal@seznam.cz'|email }}{% endfilter %}
        </p>
    </div>
    <div class="col-md-6">
        <h2>Provozovatel</h2>
        <p>
            OS Tábor bez hranic, <a href="http://www.taborbezhranic.cz/">taborbezhranic.cz</a><br>
            <a href="http://www.taborbezhranic.cz/index.php?stranka=kontakty">Kontakty</a>
        </p>
    </div>
</div>
{% endblock %}
