{% import 'macros.html' as macros with context %}
{% extends 'base.html' %}


{% block content %}

<p><a href="{{ url_for('history') }}">Všechny ročníky</a></p>
<h1>{{ text.title|safe }}</h1>
<p>{{ text.place }} {{ year }}</p>

{% if text %}
    {{ macros.volume_image(year) }}
    {{ text|markdown }}
    <p><em>Pavel Gál, hlavní vedoucí</em></p>
{% endif %}

{% if albums %}
    <h2>Alba s fotkami</h2>
    {{ macros.album_gallery(albums) }}
{% endif %}

{% endblock %}


{% block submenu %}

<h2>Všechny ročníky</h2>
{{ macros.history_menu(all_texts) }}
<hr>

{% endblock %}
