{% import 'macros.html' as macros with context %}
{% extends 'base.html' %}


{% block description %}Archiv fotek a krátkých zápisků z minulých ročníků tábora. Taková malá táborová kronika.{% endblock %}


{% block content %}

<h1>Historie a fotky</h1>
<p class="lead">
    Náš tábor má dlouhou a bohatou historii. Existuje už od roku 1997, původně pod záštitou pojišťovny Generali. Během let změnil svého provozovatele a několikrát i místo konání.
</p>
{% filter markdown %}
Tábor přežil i krizový rok 2002, kdy jej dosti silně zasáhly povodně v Jižních Čechách. Nepoložilo nás to však a ve spolupráci s CK Topinka jsme opět obnovili činnost a již v dalších ročnících dokázali, že máme dětem co nabídnout.
{% endfilter %}

{{ macros.history_menu(all_texts) }}

{% endblock %}
