{% import 'macros.html' as macros with context %}
{% extends 'base.html' %}


{% block title %}{{ text.title|split(' · ')|join(', ') }} · {{ text.place }} {{ year }}{% endblock %}
{% block description -%}
    Zápisek s fotogalerií k {{ (year + 1) - 1997 }}. ročníku Tábora plného překvapení. Název celotáborové hry byl
    &#34;{{ text.title|split(' · ')|join('" a malí měli "') }}&#34;.
{%- endblock %}


{% block content %}

<p class="back"><a href="{{ url_for('history') }}" class="button">Všechny ročníky</a></p>

<h1>{{ text.title|safe }}</h1>
<p>{{ text.place }} {{ year }}</p>

{% if text %}
    <div class="text">
        {{ macros.volume_image(year) }}
        {{ text|markdown }}
        <p><em>Pavel Gál, hlavní vedoucí</em></p>
    </div>
{% endif %}

{% if albums %}
    <div class="albums">
        <h2>Alba s fotkami</h2>
        {{ macros.album_gallery(albums) }}
    </div>
{% endif %}

{% endblock %}


{% block subnav %}

<h2>Všechny ročníky</h2>
{{ macros.history_menu(all_texts) }}
<hr>

{% endblock %}
