{% import 'macros.html' as macros with context %}
{% extends 'base.html' %}


{% block description -%}
    Zápisek s fotogalerií k {{ (year + 1) - 1997 }}. ročníku Tábora plného překvapení. Název celotáborové hry byl
    &#34;{{ title|split(' · ')|join('" a malí měli "') }}&#34;.
{%- endblock %}

{% block site_title %}
    Historie a fotky: {{ title|split(' · ')|join(', ') }} · {{ place }} {{ year }}
{% endblock %}

{% block title %}
    Ročník {{ year }}
{% endblock %}

{% block lead %}
    {{ title|split('·')|join('&amp;')|safe }}, {{ place }} {{ year }}
{% endblock %}

{% block image %}{% if text %}{{ macros.volume_image(year, class='r') }}{% endif %}{% endblock %}

{% block content %}
{% if text %}
    {{ text|markdown }}
{% endif %}

{% if albums %}
    <h2>Alba s fotkami</h2>
    {{ macros.album_gallery(albums) }}
{% endif %}
<p><a href="{{ url_for('history') }}" class="btn btn-small btn-left"><span>Všechny ročníky</span></a></p>
{% endblock %}
