{% import 'macros.html' as macros with context %}
{% extends 'base.html' %}
{% block content %}

<h1>Ahoj!</h1>

<div class="lead">
{% filter markdown %}
Každoročně jezdíme na kraj civilizace, abychom tam 14 dní s vašimi dětmi běhali po lese, stavěli ze dřeva, vymýšleli a luštili šifry, převlékali se do masek a poskakovali na diskotéce. Baví nás to už {{ volume_no }} let.
{% endfilter %}
</div>

<div class="motivation">
    <h2>Proč jet s námi?</h2>
    <ul>
        <li>
            {% filter markdown %}Náš tábor je **aktivně prožitá část prázdnin**. Děti nesedí u počítačů ani se nepovalují v chatičkách. Na celé dva týdny pro ně máme **nabitý celodenní program** plný soutěží a her. Chceme, aby se s námi děti bavily, něco se naučily, aby poznaly kamarádství, přátelství, soudržnost, ale také soutěž, soupeření a souboje. Vedeme děti k **samostatnosti a zodpovědnosti**.{% endfilter %}

            <a href="{{ url_for('program') }}" class="button">Více o naší filozofii a programu</a>
        </li>
        <li>
            {% filter markdown %}Tým vedoucích je **sehraná parta lidí**, která tábor připravuje několik měsíců před jeho začátkem. [Pavel Gál]({{ url_for('team', slug_url='pavel-gal') }}) je **zkušený hlavní vedoucí**, na tábory jezdí už {{ volume_year - 1980 }} let. Součástí týmu je samozřejmě také zdravotnice.{% endfilter %}

            <a href="{{ url_for('team') }}" class="button">Vše o vedoucích</a>
        </li>
        <li>
            {% filter markdown %}Organizačně je tábor rozdělen do dvou jednotek - **děti do {{ info.junior.age_to }} let hrají samostatnou hru**, žijí svůj táborový život, který se jen sporadicky prolíná s hrami a soutěženi těch velkých. Program je tedy vždy adekvátní věkovému složení účastníků.{% endfilter %}

            <a href="{{ url_for('program') }}" class="button">Více o programu</a>
        </li>
        <li>
            {% filter markdown %}Základnu máme v rekreačním středisku uprostřed lesů v malebném údolí nedaleko Zvíkovského Podhradí. Děti bydlí v **chatkách nebo stanech s podsadou**, k dispozici mají v hlavní budově **normální WC a sprchy s teplou vodou**. Jídelna zajišťuje **stravu 5&times; denně**. V areálu je prostor pro míčové hry, ráchání v přírodním koupališti, táboráky.{% endfilter %}

            <a href="{{ url_for('info') }}" class="button">Vše o místě konání</a>
        </li>
        <li>
            {% filter markdown %}Odjezd na tábor je **z pražského Florence**, počítá se ale i se svozem dětí **z dalších měst**, jež jsou na trasách autobusů a vlaků Student Agency a AMS bus. Samozřejmě je možná i vlastní doprava autem.{% endfilter %}

            <a href="{{ url_for('info') }}" class="button">Další organizační informace</a>
        </li>
  </ul>
</div>

<h2>
    Tábor {{ volume_year }} {% if is_past %}byl{% else %}je{% endif %} v termínu
    {{ info.senior.starts_at|date }} až {{ info.senior.ends_at|date }}
    {% if not is_past %}&ndash; začíná už za {{ countdown }} dní!{% endif %}
</h2>

{{ macros.orders(info) }}

<div class="references">
    <div class="reference testimonials">
        <h2>Co o nás píší</h2>
        <dl>
            <dt>Iva Palivcová</dt>
            <dd>{% filter markdown %}Chtěla bych poděkovat vedení tábora Havlasovi, Levanduli, ale i všem ostatním vedoucím a praktikantům za jejich rodičovský přístup ke všem dětem. Není to jen *Tábor plný překvapení*, ale tábor plný zkušeností, ponaučení, nápadů a legrace. Děti se od Vás naučí týmové práci toleranci jeden druhého. Váš přístup k dětem a vedení celého chodu tábora je zcela ojedinělý, je za vámi vidět velký kus práce, zodpovědné přípravy a opravdového zapálení. Každý váš táborník se musí vracet domů pln nadšení, obohacen o nové dobré kamarády a zážitky.{% endfilter %}</dd>
        </dl>
    </div>
    <div class="reference last_year">
        <h2>Loňský tábor</h2>
        <p>
            <a href="{{ url_for('history', year=(volume_year - 1)) }}">
                {{ macros.volume_image(volume_year - 1) }}
                Jak jsme si hráli v roce {{ volume_year - 1 }}
            </a>
        </p>
    </div>
</div>
{% endblock %}
