{% import 'macros.html' as macros with context %}
{% extends 'base.html' %}
{% block page_type %}homepage{% endblock %}
{% block main_footer %}{% endblock %}
{% block main %}
    <div class="box-about">
        <ul class="reset">
            <li class="item-blue-dark">
                <div class="inner">
                    <h2 class="title">Co jsme za tábor?</h2>
                    Pošlete své děti na tábor, kde se budou 2 týdny bavit i vzdělávat pod vedením zkušených vedoucích.
                </div>
            </li>
            <li class="item-blue">
                <div class="inner">
                    <h2 class="title">Kde se koná?</h2>
                    Tábor se nachází v lese uprostřed přírody v Jižních Čechách.
                </div>
            </li>
            <li class="item-green">
                <div class="inner">
                    <h2 class="title">Kdy se koná?</h2>
                    V létě {{ volume_year }} v termínu {{ info.senior.starts_at|date_range(info.senior.ends_at) }}.
                </div>
            </li>
        </ul>
    </div> <!-- ./box-about -->

    {% if not is_past %}
    <div class="crossroad-camps">
        <ul class="reset">
            <li>
                <a href="{{ info.junior.book_url }}" class="inner">
                    <p class="img">
                        <img src="{{ url_for('image_proxy', url=info.junior.poster_url, resize='426x231') }}" alt="{{ info.junior.topic }}" width="426" height="231">
                    </p>
                    <div class="info">
                        <h2 class="title">{{ info.junior.topic }}</h2>
                        <p class="entry">
                            <span class="btn btn-fat-arrow">
                                <span>
                                    <strong>Podat <br> přihlášku</strong>
                                    {{ info.junior.price }} Kč
                                </span>
                            </span>
                        </p>
                    </div>
                    <p class="age">
                        <strong>{{ info.junior.age_from }}&ndash;{{ info.junior.age_to }}</strong>&nbsp;let
                    </p>
                </a>
            </li>
            <li>
                <a href="{{ info.senior.book_url }}" class="inner">
                    <p class="img">
                        <img src="{{ url_for('image_proxy', url=info.senior.poster_url, resize='426x231') }}" alt="{{ info.senior.topic }}" width="426" height="231">
                    </p>
                    <div class="info">
                        <h2 class="title">{{ info.senior.topic }}</h2>
                        <p class="entry">
                            <span class="btn btn-fat-arrow">
                                <span>
                                    <strong>Podat <br> přihlášku</strong>
                                    {{ info.senior.price }} Kč
                                </span>
                            </span>
                        </p>
                    </div>
                    <p class="age age-big">
                        <strong>{{ info.senior.age_from }}&ndash;{{ info.senior.age_to }}</strong>&nbsp;let
                    </p>
                </a>
            </li>
        </ul>
    </div> <!-- ./cs-camps -->
    {% endif %}

    <div class="crossroad-about">
        <ul class="reset">
            <li>
                <a href="{{ url_for('program') }}" class="inner">
                    <span class="about-ico about-ico-activity"></span>
                    <h2 class="title">Aktivně prožitá část prázdnin</h2>
                    Na každý den máme pro děti nachystaný celodenní program plný soutěží a her. Děti nesedí u počítačů, ani se nepovalují v chatkách. Baví se a také se něco naučí. Poznají nové kamarády, ale budou také soutěžit. Děti vedeme k samostatnosti a zodpovědnosti.
                </a>
            </li>
            <li>
                <a href="{{ url_for('program') }}" class="inner">
                    <span class="about-ico about-ico-programm"></span>
                    <h2 class="title">Program přizpůsobený věku dítěte</h2>
                    Děti jsou v táboře rozděleny do 2 skupin podle věku. Mladší děti do {{ info.junior.age_to }} let hrají samostatnou hru, žijí svůj táborový život a jen výjimečně se zapojují do zábavy či úkolů se staršími dětmi. Program tábora je vždy přizpůsoben schopnostem dětí podle jejich věku a vyspělosti.
                </a>
            </li>
            <li>
                <a href="{{ url_for('team') }}" class="inner">
                    <span class="about-ico about-ico-experiences"></span>
                    <h2 class="title">Dlouholeté zkušenosti v práci s dětmi</h2>
                    Tým vedoucích je sehraná parta lidí, která tábor organizuje již {{ volume_no }} let. Hlavní vedoucí Pavel Gál jezdí na tábory {{ now.year - 1980 }} let. Součástí týmu je také zdravotnice. Díky dlouholeté tradici víme, jak s dětmi pracovat, které hry se jim líbí anebo kdy dbát zvýšené opatrnosti.
                </a>
            </li>
            <li>
                <a href="{{ url_for('info') }}" class="inner">
                    <span class="about-ico about-ico-place"></span>
                    <h2 class="title">Uprostřed přírody s komfortem</h2>
                    Základna tábora se nachází v rekreačním středisku uprostřed lesů v malebném údolí nedaleko Zvíkovského Podhradí. Děti bydlí v chatkách nebo stanech s podsadou. V hlavní budově mají k dispozici toalety a sprchy s teplou vodou. Jídlo připravujeme pro děti 5krát denně. V areálu je hřiště pro míčové hry i přírodní koupaliště.
                </a>
            </li>
            <li>
                <a href="{{ url_for('info') }}" class="inner">
                    <span class="about-ico about-ico-transport"></span>
                    <h2 class="title">Jak se děti na tábor dostanou</h2>
                    Odjezd na tábor je z pražského Florence. Počítá se ale i se svozem dětí z dalších měst, které jsou na trasách autobusů a vlaků Student Agency a AMS bus. Můžete samozřejmě své děti přivézt na místo sami autem. Cesta z Prahy zabere asi 80 minut, z Brna pojedete 2,5 hodiny.
                </a>
            </li>
            <li>
                <div class="inner">
                    <span class="about-ico about-ico-laud"></span>
                    <h2 class="title">Rodiče náš tábor chválí</h2>
                    <i>
                        “Děkuji vedení tábora Havlasovi, Levanduli i ostatním vedoucím a praktikantům za jejich rodičovský přístup k našim dětem. Tábor není plný jen překvapení, ale i zkušeností a legrace, o kterých nám děti po příjezdu domů dlouho nadšeně vyprávěly.”
                    </i><br />- Iva Palivcová
                </div>
            </li>
        </ul>
    </div> <!-- ./cs-about -->
{% endblock %}
