{% import 'macros.html' as macros with context %}
{% extends 'base.html' %}
{% block content %}{% filter markdown %}

# Ahoj!

Každoročně jezdíme na kraj civilizace, abychom tam 14 dní s vašimi dětmi běhali po lese, stavěli ze dřeva, vymýšleli a luštili šifry, převlékali se do masek a poskakovali na diskotéce. Baví nás to už {{ volume_no }} let.

## Proč jet s námi?

- Náš tábor je **aktivně prožitá část prázdnin**. Děti nesedí u počítačů ani se nepovalují v chatičkách. Na celé dva týdny pro ně máme **nabitý celodenní program** plný soutěží a her. Chceme, aby se s námi děti bavily, něco se naučily, aby poznaly kamarádství, přátelství, soudržnost, ale také soutěž, soupeření a souboje. Vedeme děti k **samostatnosti a zodpovědnosti**.<br>
  <a href="{{ url_for('program') }}">Více o naší filozofii a programu</a>
- Tým vedoucích je **sehraná parta lidí**, která tábor připravuje několik měsíců před jeho začátkem. Pavel Gál je **zkušený hlavní vedoucí**, na tábory jezdí už {{ volume_year - 1980 }} let. Součástí týmu je samozřejmě také zdravotnice.<br>
  <a href="{{ url_for('team') }}">Vše o vedoucích</a>
- Organizačně je tábor rozdělen do dvou jednotek - **děti do {{ info.junior.age_to }} let hrají samostatnou hru**, žijí svůj táborový život, který se jen sporadicky prolíná s hrami a soutěženi těch velkých. Program je tedy vždy adekvátní věkovému složení účastníků.<br>
  <a href="{{ url_for('program') }}">Více o programu</a>
- Základnu máme v rekreačním středisku uprostřed lesů v malebném údolí nedaleko Zvíkovského Podhradí. Děti bydlí v **chatkách nebo stanech s podsadou**, k dispozici mají v hlavní budově **normální WC a sprchy s teplou vodou**. Jídelna zajišťuje **stravu 5&times; denně**. V areálu je prostor pro míčové hry, ráchání v přírodním koupališti, táboráky.<br>
  <a href="{{ url_for('info') }}">Vše o místě konání</a>
- Odjezd na tábor je **z pražského Florence**, počítá se ale i se svozem dětí **z dalších měst**, jež jsou na trasách autobusů a vlaků Student Agency a AMS bus. Samozřejmě je možná i vlastní doprava autem.<br>
  <a href="{{ url_for('info') }}">Další organizační informace</a>

## Tábor {{ volume_year }} {% if not is_past %}začíná už za {{ countdown }} dní!{% endif %}

{% endfilter %}{{ macros.orders(info) }}{% filter markdown %}

## Co o nás píší

...

## Loňský tábor

{% endfilter %}
<a href="{{ url_for('history', year=(volume_year - 1)) }}">
    {{ macros.volume_image(volume_year - 1) }}
    Jak jsme si hráli v roce {{ volume_year - 1 }}
</a>
{% filter markdown %}

{% endfilter %}{% endblock %}
