{%- import 'macros.html' as macros with context -%}
{% extends 'base.html' %}


{% block description %}Organizační informace pro rodiče. Místo konání tábora, adresa kam posílat dopisy dětem, doprava na tábor, a další.{% endblock %}

{% block title %}Organizační informace{% endblock %}

{% block lead %}
    Tábor je umístěný v Rekreačním středisku Babočka v krásné krajině Lužického podhůří v těsném sousedství Českého Švýcarska. Děti bydlí v chatkách. V hlavní budově mají k dispozici toalety a sprchy s teplou vodou. Jídlo připravujeme pro děti 4krát denně.
{% endblock %}

{% block content %}
{% filter markdown %}
Kompletní **organizační informace** jsou k dispozici na webu provozovatele:

- [Důležité informace](http://www.taborbezhranic.cz/index.php?stranka=tabor)
- [RS Babočka](http://www.rsbabocka.cz/)

<div class="row">
    <div class="col col-h-1 grid-h">
        <a href="http://www.varvazov.wz.cz/foto.htm" target="_blank" class="thumbnail">
            <img src="{{ url_for('image_proxy', url='http://www.taborbezhranic.cz/img/areal/01zakladna.jpg', resize='600x380') }}" width="427">
        </a>
    </div>
    <div class="col col-h-2 grid-h">
        <a href="http://www.varvazov.wz.cz/foto.htm" target="_blank" class="thumbnail">
            <img src="{{ url_for('image_proxy', url='http://www.taborbezhranic.cz/img/areal/04chatky.jpg', resize='600x380') }}" width="427">
        </a>
    </div>
</div>

### Adresa tábora

Letní tábor **{{ info.senior.topic }}**<br>
RS Babočka<br>
Krásné pole 29<br>
407 44 Chřibská

### Doprava

GPS: <code>50°50'58.184"N, 14°30'16.791"E</code><br>
<a href="https://mapy.cz/s/ODdi" target="_blank">mapa</a>
{% endfilter %}
{% endblock %}
