

{% macro menu_item(url, text, class='') %}
    {% if url == request.path or (url != '/' and request.path.startswith(url)) %}
        {% set class = class + ' active' %}
    {% endif %}
    <li{% if class %} class="{{ class }}"{% endif %}>
        <a href="{{ url }}">{{ text|safe }}</a>
    </li>
{% endmacro %}


{% macro volume_image(year, class='') %}
    {% set year = year|string %}
    {% set filename = 'images/v' + year + '.jpg' %}

    {% if not ('static/' + filename)|file_exists %}
        {% set filename = 'images/placeholder.jpg' %}
    {% endif %}

    <img{% if class %} class="{{ class }}"{% endif %} src="{{ url_for('static', filename=filename) }}" width="250" height="250">
{% endmacro %}


{% macro volume_item(year, place, topic) %}
    {% set year = year|string %}

    <a href="{{ url_for('history', year=year) }}" class="inner v{{ year }}">
        {{ volume_image(year) }}
        <h3 class="title">
            {{ topic|split('·')|join('&nbsp;&amp;')|safe }}
        </h3>
        {{ place }}&nbsp;{{ year }}
    </a>
{% endmacro %}


{% macro history_menu(texts) %}
    <div class="crossroad-gallery">
        <ul class="reset">
            {% for history_detail in history %}
                <li>
                    {{ volume_item(
                        history_detail.year,
                        history_detail.place,
                        history_detail.name
                    ) }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}


{% macro photo_gallery(photos) %}
    <div class="crossroad-gallery">
        <ul class="reset">
            {% for photo in photos %}
                <li>
                    <a href="{{ photo }}" class="inner" target="_blank">
                        <h3 class="title">{{ loop.index }}</h3>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}


{% macro member_image(slug, class='') %}
    {% set filename = 'images/' + slug + '.jpg' %}

    {% if not ('static/' + filename)|file_exists %}
        {% set filename = 'images/placeholder.jpg' %}
    {% endif %}
    <img{% if class %} class="{{ class }}"{% endif %} src="{{ url_for('static', filename=filename) }}" width="250" height="250">
{% endmacro %}


{% macro member_item(slug, name, nickname=None, post=None) %}
    <a href="{{ url_for('team', slug=slug) }}" class="inner {{ post|slugify }}">
        {{ member_image(slug) }}
        <h3 class="title">{{ name }}</h3>
        {% if nickname %}{{ nickname }}, {% endif %}{{ post }}
    </a>
{% endmacro %}


{% macro team_menu(texts) %}
    <div class="crossroad-gallery">
        <ul class="reset">
            <li>
                {{ member_item(
                    texts.0.slug,
                    texts.0.full_name,
                    texts.0.nickname,
                    texts.0.post
                ) }}
            </li>
            {% for text in texts[1:] %}
                <li>
                    {{ member_item(
                        text.slug,
                        text.full_name,
                        text.nickname,
                        text.post
                    ) }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}
