

{% macro menu_item(url, text, class='') %}
    {% if url == request.path or (url != '/' and request.path.startswith(url)) %}
        {% set class = class + ' selected' %}
        <li class="{{ class }}">
            <strong>{{ text|safe }}</strong>
        </li>
    {% else %}
        <li{% if class %} class="{{ class }}"{% endif %}>
            <a href="{{ url }}">{{ text|safe }}</a>
        </li>
    {% endif %}
{% endmacro %}


{% macro volume_image(year) %}
    {% set year = year|string %}
    {% set filename = 'images/v' + year + '.jpg' %}

    {% if not ('static/' + filename)|file_exists %}
        {% set filename = 'images/placeholder.jpg' %}
    {% endif %}

    <img src="{{ url_for('static', filename=filename) }}" width="250" height="250">
{% endmacro %}


{% macro volume_item(year, place, topic) %}
    {% set year = year|string %}

    {% set image_html = volume_image(year) %}
    {% set topic_html = ('<em>' + topic + '</em>')|safe %}
    {% set place_html = ('<small>' + place + ' ' + year + '</small>')|safe %}

    {{ menu_item(
        url_for('history', year=year),
        [image_html, topic_html, place_html]|join(' '),
    ) }}
{% endmacro %}


{% macro history_menu(texts) %}
    <ul>
    {% for text in texts %}
        {{ volume_item(
            text.year,
            text.place,
            text.title
        ) }}
    {% endfor %}
    </ul>
{% endmacro %}


{% macro album_image(album) %}
    <img src="{{ url_for('image_proxy', url=album.image_url, resize='250x250') }}" width="250" height="250">
{% endmacro %}


{% macro album_gallery(albums) %}
    <ul>
    {% for album in albums %}
        <li>
            <a href="{{ album.url }}" target="_blank">
                {{ album_image(album) }}
                {% if album.count == 1 %}
                    1 fotka
                {% else %}
                    {{ album.count }} fotek
                {% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}


{% macro member_image(slug_file) %}
    {% set filename = 'images/' + slug_file + '.jpg' %}

    {% if not ('static/' + filename)|file_exists %}
        {% set filename = 'images/placeholder.jpg' %}
    {% endif %}
    <img src="{{ url_for('static', filename=filename) }}" width="250" height="250">
{% endmacro %}


{% macro member_item(slug_file, slug_url, name, nickname=None, post=None) %}
    {% set image_html = member_image(slug_file) %}
    {% set name_html = ('<strong>' + name + '</strong>')|safe %}
    {% set post_html = ('<em>' + post + '</em>')|safe %}

    {% if nickname %}
        {% set nick_html = ('<small>' + nickname + '</small>')|safe %}
    {% else %}
        {% set nick_html = '' %}
    {% endif %}

    {{ menu_item(
        url_for('team', slug_url=slug_url),
        [image_html, name_html, nick_html, post_html]|join(' '),
        post|slugify
    ) }}
{% endmacro %}


{% macro team_menu(texts) %}
    <ul>

    {% for text in texts %}
        {% if text.post == 'hlavní vedoucí' %}
            {{ member_item(
                text.slug_file,
                text.slug_url,
                text.full_name,
                text.nickname,
                text.post
            ) }}
        {% endif %}
    {% endfor %}

    {% for text in texts %}
        {% if text.post != 'hlavní vedoucí' %}
            {{ member_item(
                text.slug_file,
                text.slug_url,
                text.full_name,
                text.nickname,
                text.post
            ) }}
        {% endif %}
    {% endfor %}

    </ul>
{% endmacro %}


{% macro orders(info) %}
    <ul>
        <li>
            <img src="{{ url_for('image_proxy', url=info.senior.poster_url, crop=65, resize='250x250') }}" width="250" height="250">
            <em>{{ info.senior.topic }} ({{ info.senior.age_from }}&ndash;{{ info.senior.age_to }} let)</em>
            <small>Varvažov {{ volume_year }}</small><br>
            <a href="{{ info.senior.book_url }}">Podat přihlášku: {{ info.senior.price }} Kč</a>
        </li>
        <li>
            <img src="{{ url_for('image_proxy', url=info.junior.poster_url, crop=65, resize='250x250') }}" width="250" height="250">
            <em>{{ info.junior.topic }} ({{ info.junior.age_from }}&ndash;{{ info.junior.age_to }} let)</em>
            <small>Varvažov {{ volume_year }}</small><br>
            <a href="{{ info.junior.book_url }}">Podat přihlášku: {{ info.junior.price }} Kč</a>
        </li>
    </ul>
{% endmacro %}
