{% import 'macros.html' as macros with context %}
{% extends 'base.html' %}


{% block title %}{{ text.full_name|safe }}{% if text.nickname %} ({{ text.nickname|safe }}){% endif %} · {{ text.post }}{% endblock %}
{% block description -%}
    {{ text.post|safe|capitalize_first }} {{ text.full_name|safe }} {% if text.nickname %}({{ text.nickname|safe }}){% endif %}.
    Fotografie a osobní profil.
{%- endblock %}


{% block content %}

<p class="back"><a href="{{ url_for('team') }}" class="button">Všichni vedoucí</a></p>

<h1>
    {{ text.full_name|safe }}
    {% if text.nickname %}
        <small>{{ text.nickname|safe }}</small>
    {% endif %}
</h1>
<p>{{ text.post }}</p>

{% if text %}
    <div class="text">
        {{ macros.member_image(text.slug_file) }}
        {{ text|markdown }}
    </div>
{% endif %}

{% endblock %}


{% block subnav %}

<h2>Všichni vedoucí</h2>
{{ macros.team_menu(all_texts) }}
<hr>

{% endblock %}
