{% import 'macros.html' as macros with context %}
{% extends 'base.html' %}


{% block description -%}
    {{ text.post|safe|capitalize_first }} {{ text.full_name|safe }} {% if text.nickname %}({{ text.nickname|safe }}){% endif %}.
    Fotografie a osobní profil.
{%- endblock %}

{% block site_title %}
    {{ text.full_name|safe }}{% if text.nickname %} ({{ text.nickname|safe }}){% endif %} · {{ text.post }}
{% endblock %}

{% block title %}
    {{ text.full_name|safe }}, {{ text.post }}
{% endblock %}

{% block lead %}
    {% if text.nickname %}{{ text.nickname|safe }}{% endif %}
{% endblock %}

{% block image %}{% if text %}{{ macros.member_image(text.slug, class='r') }}{% endif %}{% endblock %}

{% block content %}
{% if text %}
    {{ text|markdown }}
{% endif %}

<p><a href="{{ url_for('team') }}" class="btn btn-small btn-left"><span>Všichni vedoucí</span></a></p>
{% endblock %}
