{% import 'macros.html' as macros with context %}
{% extends 'base.html' %}


{% block description %}Vše o partě vedoucích, která na tábor s dětmi jezdí a stará se o ně.{% endblock %}
{% block keywords %}vedoucí, hlavní vedoucí, instruktor, instruktoři, zdravotnice{% endblock %}


{% block content %}{% filter markdown %}

# Tým vedoucích

Tábor pro nás nejsou jen dva týdny během léta. Ač jsme z různých koutů republiky, scházíme se po celý rok a své členy si pečlivě vybíráme.

Nový ročník tábora připravujeme každoročně již od ledna či února. Do detailu vypracováváme rámcový plán činností, zpracováváme témata celotáborové hry, píšeme doprovodný příběh (čítá zhruba dvacet stránek strojopisu a napsat ho je vážně fuška :-) a připravujeme grafickou stránku tábora – nástěnky, diplomy… Vymýšlíme, rozpracováváme a dolaďujeme pravidla jednotlivých etap, sdělujeme si nápady, připomínkujeme si již zpracované.

Za léta, po která funguje náš tábor, se z nás stala velká společnost kamarádů a přátel, kteří mají společné základy právě na tomto táboře. Mnozí už za léta odrostli, založili vlastní rodiny a přestali s námi jezdit. Přesto se vídáme, píšeme si a víme o sobě. Další děti rostou, stárnou a mění se v praktikanty a vedoucí. Založili jsme tradici, jež nás udržuje dál v chodu. A tak se rok co rok těšíme na různá setkání a srazy, těší nás naše vzájemné úspěchy a rmoutí neúspěchy.

{% endfilter %}
{{ macros.team_menu(all_texts) }}
{% endblock %}
