

@import './bootstrap.min.css';
@import './font-awesome.min.css';


.container, .page-header {
    position: relative;
}

.nav-main, footer, .order, .caption {
    text-align: center;
}

a.thumbnail, a.box {
    text-decoration: none;
    color: inherit;
}

.lead, .orders, .aside {
    margin-bottom: 2em;
}

.order {
    position: relative;
}

.order h2 {
    text-align: left;
}

.order .label {
    font-size: 2em;
    position: absolute;
    right: 0;
    top: 2em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.order button i {
    margin-right: 0.3em;
}

.boxes {
    margin-bottom: 3em;
}

.box h3 i {
    font-size: 2em;
    display: block;
    text-align: center;
    padding-bottom: 0.5em;
    color: rgb(153, 153, 153);
}

.box h3 span {
    color: rgb(66, 139, 202);
}

a.box:hover h3 span, a.box:focus h3 span {
    color: rgb(42, 100, 150);
    text-decoration: underline;
}

.nav-main, .nav-team, .nav-history, .nav-albums {
    margin-top: 4em;
}

.nav-team .caption strong, .nav-history .caption small {
    display: block;
    padding: 1em 0 0.5em 0;
}

.nav-history .caption small.amp {
    display: inline;
    padding: 0;
}

small strong {
    color: rgb(51, 51, 51);
}

.text .img-thumbnail {
    margin-left: 1em;
    float: right;
}

.contact, .back {
    text-align: center;
    padding: 2em 0;
}

footer {
    padding: 1em 0 2em 0;
}

.fb {
    position: absolute;
    right: 0; top: 0;
}

.fb-box, .fb-like-box, .fb-box iframe {
    border: none;
    width: 100%;
}

.fa {
    margin-right: 0.3em;
}
